:root {
	--gap: 30px;
	--purple-color: #9d3be1;
	--yellow-color: #f9b80c;
	--black-color: #000;
	--white-color: #fff;
	--darkest-purple-color: #3d1758;
}
@font-face {
	font-family: "Brown Sugar";
	src: url(../fonts/BrownSugar.woff);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html { 
	font-size: 62.5%; /*10px*/
	scroll-behavior: smooth;
}
body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
	color: var(--black-color);
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Brown Sugar", "Trebuchet MS",Helvetica,sans-serif;
}
h1 {
	font-size: 4rem;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 2rem;
}
p {
	font-size: 1.8rem;
}
a {
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: inherit;
}
ul {
	list-style: none;
}
div.sem-line {
	border: none;
}
.one-bg {
	background-image: url(../images/logo.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.purple-bg-menu {
	background-color: var(--purple-color);
	color: var(--yellow-color);
}
.purple-bg {
	background-color: rgba(157, 59, 225, 0.5);
	color: var(--black-color);
}
.yellow-bg {
	background-color: rgba(249, 184, 12, 0.5);
	color: var(--black-color);
}
.main-content {
	max-width: 120rem;
	margin: 0 auto;
	padding: 10rem var(--gap);
}
.section-full {
	min-height: 100vh;
}

.menu {
	position: fixed;
	top: 0;
	width: 100%;
	border: 0.01rem solid var(--darkest-purple-color);
}
.menu-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 0;
	padding-bottom: 0;
}
.menu h1.logo {
	font-size: 2.3rem;
	color: var(--yellow-color);
}
.menu ul {
	display: flex;
	align-items: center;
}
.menu ul li a {
    display: block;
    padding: 2rem;
    margin: 0 0.5rem;
    font-size: 1.8rem;
    color: var(--yellow-color);
    position: relative;
}
.menu ul li a:hover {
    opacity: 0.8;
}
.menu .icon-menu {
	padding-top: 0.5rem;
	width: 2rem;
	margin: 0.5rem;
}
.menu-spacing {
	height: 6.5rem;
}
.close-menu {
    display: none;
}

.sbr-bg {
	background-color: #ecf3f9;
}
.grid-perfil {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.1fr 3fr;
	gap: var(--gap);
}
.box1 {
	grid-column-start: 1;
	align-self: center;
	justify-self: flex-start;
}
.box2 {
	grid-column-start: 1;
	grid-column-end: 2;
	justify-self: center;
	align-self: center;
}
.sobre-content p {
	margin-top: 2rem;
}

.grid-perfil .foto-perfil {
	width: 100%;
	height: 100%;
	background-image: url(../images/perfil-melissa-2.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	/*box-shadow: 0.3rem 0.3rem 0.3rem 0.4rem var(--darkest-purple-color);*/
}

.grid-port {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: var(--gap);
	counter-reset: grid-counter;
}
.port-text {
	font-family: 'Raleway', sans-serif;
	padding: 5rem 0 3rem 0;
}
.img-port {
	width: 100%;
	max-width: 25rem;
	max-height: 25rem;
	overflow: hidden;
}
div.img-port img:hover {
	border: 0.5rem solid var(--yellow-color);
}
.img-port img {
	width: 100%;
}
.grid-social {
	display: grid;
	justify-content: space-around;
	align-items: center;
	width: 30rem;
	grid-template-columns: repeat(3,0.5fr);
	grid-template-rows: 1fr;
	gap: var(--gap);
	margin: 0 auto;
	margin-top: 6rem;
}
.icon-social img {
	width: 100%;
}

#rodape {
	height: 12.5rem;
	line-height: 12.5rem;
	padding-left: 2rem;
	color: var(--white-color);
	background-color: var(--darkest-purple-color);
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--white-color);
    color: var(--darkest-purple-color);
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 0.1rem solid var(--darkest-purple-color);
}
